#hero{
    width: 1280px;
    margin: 0 auto;
    
}
.bg{
    background-color: #F5F5F5;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    
    font-style: normal;
  }

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 50px;
}
.banner-country{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-description{
    font-size: 56px;
    font-weight: bold;
}

.btn{
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
.cards{
    display: flex;
   
   
}
.card-1{
    background-color: #D5E1F5;
    padding: 32px;
    border-radius: 16px;
    
    margin-right: 20px;
    
}
.card-2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 16px;

    margin-right: 20px;
    
}
.card-3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
    
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
}
.vision-subtitle{
    font-size: 16px;
    color: #676767;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.card-subtitle{
    font-size: 16px;
}

.btn-2{
    padding: 11px 20px;
    background-color: #5490F5;
    border: none;
    border-radius: 8px;
}

.btn-3{
    padding: 11px 20px;
    background-color: #09A15C;
    border: none;
    border-radius: 8px;
}
.btn-4{
    padding: 11px 20px;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
}

.news-divider{
    display: flex;
   
    background-color: white;
    padding: 50px;
    border-radius: 24px;
    margin-top: 24px;
   
}
.news-title{
    font-size: 40px;
    font-weight: bold;
}
.news-subtitle{
    font-size: 16px;
    color: #676767;
}
.image-radius{
    border-radius: 24px;

}
.news-title2{
    font-size: 32px;
    font-weight: bold;
}

.news-subtitle2{
    font-size: 16px;
    color: #676767;
}

.news-subtitle3{
    font-size: 16px;
    color: #676767;

}
.button-style{
    padding: 13px 26px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: white;
}

.news-info{
    margin-left: 32px;
    
}
.taka-container{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.one{
    background-color: white;
    padding: 40px;
    margin-right: 24px;
    border-radius: 16px;
}
.two{
    background-color: #C6E4D6;
    padding: 40px;
    margin-right: 24px;
    border-radius: 16px;
}
.three{
    background-color: white;
    padding: 40px;
    margin-right: 24px;
    border-radius: 16px;
}
.four{
    
        background-color: white;
        padding: 40px;
        margin-right: 24px;
        border-radius: 16px;
    
    
}

.donate-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.donate-subtitle{
    text-align: center;
    font-size: 16px;
    color: #676767;
}
.donate{
    margin-top: 70px;
}

.measure{
    width: 1032px;
    height: 64px;
    border: none;
    text-align: center;
   

}
.wraper{
    display: flex;
    justify-content: center;
   
}
.btn-donate{
    background-color: #006A50;
    color: white;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    display: block;
    margin: 32px auto;
}

.subscribe{
    background-color: #C6E4D6;
    padding: 80px 265px;
    border-radius: 24px;
}
.subscribe-title{
    text-align: center;
}
.subscribe-subtitle{
    text-align: center;
}
.subscribe-min{
    text-align: center;
}

.measures{
    width: 600px;
    height: 55px;
    border: none;
    border-radius: 10px 0 0 10px;
}
.btn-sub{
    background-color: #006A50;
    color: white;
    border: none;
    padding: 17px 34px;
    border-radius: 0px 10px 10px 0px;

}
.combine{
    display: flex;
    gap: 0px;
    
}

